[submodule "firn"]
	path = firn
	url = https://github.com/theiceshelf/firn
[submodule "src/.obsidian_/plugins/obsidian-cursor-blink"]
    path = src/.obsidian_/plugins/obsidian-cursor-blink
    url = https://github.com/xnhp/obsidian-cursor-blink
