/* MVP.css v1.8 - https://github.com/andybrewer/mvp */

:root {
    --active-brightness: 0.85;
    --border-radius: 7px;
    --box-shadow: 2px 2px 10px;
    --color: #118bee;
    --color-accent: #118bee15;
    --color-bg: #fff;
    --color-bg-secondary: #e9e9e9;
    --color-link: #118bee;
    --color-secondary: #920de9;
    --color-secondary-accent: #920de90b;
    --color-shadow: #f4f4f4;
    --color-table: #118bee;
    --color-text: #000;
    --color-text-secondary: #999;
    --font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    --hover-brightness: 1.2;
    --justify-important: center;
    --justify-normal: left;
    --line-height: 1.5;
    --width-card: 285px;
    --width-card-medium: 460px;
    --width-card-wide: 800px;
    --width-content: 1080px;
}

@media (prefers-color-scheme: dark) {
    :root {
        --color: #0097fc;
        --color-accent: #0097fc4f;
        /*--color-bg: #333;*/
        --color-bg: #F0F0F0;
        --color-bg-secondary: #555;
        --color-link: #0097fc;
        --color-secondary: #e20de9;
        --color-secondary-accent: #e20de94f;
        --color-shadow: #bbbbbb20;
        --color-table: #0097fc;
	/*--color-text: #f7f7f7;*/
	/*--color-text: #030303;*/
	--color-text: #25292E;
	--lighter-text: #CAD0D7;
        --color-text-secondary: #aaa;
    }
}


::selection {
  /*background-color: #23272C;*/
  background-color: #29252E;
  color: var(--color-bg);
}
/*::-moz-selection {*/
/*  background: #2D2F31; [> Gecko Browsers <]*/
/*}*/

/* Layout */
article aside {
    background: var(--color-secondary-accent);
    border-left: 4px solid var(--color-secondary);
    padding: 0.01rem 0.8rem;
}

body {
    /*text-align: center;*/
    padding: 1em;
    line-height: 1.9;
    background: var(--color-bg);
    color: var(--color-text);
    font-family: var(--font-family);
    line-height: var(--line-height);
    margin: auto;
    /*margin: 0;*/
    max-width: 38em;
    overflow-x: hidden;
    /*padding: 10rem;*/
    padding: 0;
    font-size: 18px;
}

footer,
main {
    margin: 0 auto;
    max-width: var(--width-content);
    padding: 3rem 1rem;
}

header {
    margin: 0 auto;
    max-width: var(--width-content);
    /*padding-top: 18rem;*/
    padding-top: 40vh;
    padding-bottom: 50vh;
}

.date {
    margin-top: -1rem;
}

hr {
    background-color: var(--color-bg-secondary);
    border: none;
    height: 1px;
    margin: 4rem 0;
    width: 100%;
}

section {
    display: flex;
    flex-wrap: wrap;
    justify-content: var(--justify-important);
}

section img,
article img {
    max-width: 100%;
}

section pre {
    overflow: auto;
}

section aside {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    margin: 1rem;
    padding: 1.25rem;
    width: var(--width-card);
}

section aside:hover {
    box-shadow: var(--box-shadow) var(--color-bg-secondary);
}

[hidden] {
    display: none;
}

/* Headers */
article header,
div header,
main header {
    padding-top: 0;
}

header {
    text-align: var(--justify-important);
}

header a b,
header a em,
header a i,
header a strong {
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}

header nav img {
    margin: 1rem 0;
}

section header {
    padding-top: 0;
    width: 100%;
}

/* Nav */
nav {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: space-between;
    margin-bottom: 7rem;
}

nav ul {
    /*list-style: none;*/
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 0.5rem;
    position: relative;
    text-align: left;
}

/* Nav Dropdown */
nav ul li:hover ul {
    display: block;
}

nav ul li ul {
    background: var(--color-bg);
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: none;
    height: auto;
    left: -2px;
    padding: .5rem 1rem;
    position: absolute;
    top: 1.7rem;
    white-space: nowrap;
    width: auto;
    z-index: 1;
}

nav ul li ul::before {
    /* fill gap above to make mousing over them easier */
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: -0.5rem;
    height: 0.5rem;
}

nav ul li ul li,
nav ul li ul li a {
    display: block;
}

/* Typography */
code.sourceCode,
samp {
    /*background-color: var(--color-accent);*/
    background-color: #08090A;
    border-radius: var(--border-radius);
    color: var(--lighter-text);
    display: inline-block;
    margin: 0 0.1rem;
    padding: 0 0.5rem;
}

code {
    background: #353940;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 5px;
    color: #ECEEF3;

}

details {
    margin: 1.3rem 0;
}

details summary {
    font-weight: bold;
    cursor: pointer;
}













h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: var(--line-height);
}

h1 {
    font-size: 3.2rem;
    line-height: var(--line-height);
    font-weight: 800;
}

h2 {
    font-size: 2.5rem;
    line-height: var(--line-height);
    font-weight: 800;
}

h3 {
    font-size: 1.8rem;
    line-height: var(--line-height);
    font-weight: 800;
}

mark {
    padding: 0.1rem;
}

ol li,
ul li {
    padding: 0.2rem 0;
    /*margin-left:15px;*/
    /*list-style: none;*/

    /*border-bottom-style:solid; */
    /*border-bottom-width:1px; */
    /*border-bottom-color:#CCCCCC; */
    /*padding-left:10px; cursor:pointer;*/
    /*position: absolute;*/
    /*top: 50%;*/
    /*bottom: 0;*/

    /*padding-left: 5px;*/
    /*border-left: 1px solid var(--color-text);*/

}






/*a {*/
/*    font-size: 20px;*/
/*    color: $brown;*/
/*    position: relative;*/
/*    text-transform: uppercase;*/
/*    text-decoration: none;*/
/*    padding-bottom: 8px;*/

/*    &:before,*/
/*    &:after {*/
/*        content: '';*/
/*        position: absolute;*/
/*        bottom: 2px;*/
/*        left: 0; right: 0;*/
/*        height: 2px;*/
/*        background-color: red;*/
/*    }*/
/*    &:before {*/
/*        opacity: 0;*/
/*        transform: translateY(- 8px);*/
/*        transition: transform 0s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s;*/
/*    }*/
/*    &:after {*/
/*        opacity: 0;*/
/*        transform: translateY(8px/2);*/
/*        transition: transform .2s  cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;*/
/*    }*/
/*    &:hover,*/
/*    &:focus {*/
/*        &:before,*/
/*        &:after {*/
/*            opacity: 1;*/
/*            transform: translateY(0);*/
/*        }*/
/*        &:before {*/
/*            transition: transform .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity .2s;*/
/*        }*/
/*        &:after {*/
/*            transition: transform 0s .2s cubic-bezier(0.175, 0.885, 0.320, 1.275), opacity 0s .2s;*/
/*        }*/
/*    }*/
/*}*/


 ul ul, ol ol { 
  position: relative; 
  margin-left:15px;
  list-style: disc;
  transition: 0.3s;
}
ul:hover ul:hover, ol:hover ol:hover { 
    margin-left: 30px;
}
li::marker {
	color: #99A1AA;
}

li {
  transition: 0.3s;
}

li:hover {
    padding-left: 3px;
}

ul ul::before, ol ol::before {
  content: '';
  border-left: 1px solid var(--lighter-text);
  position: absolute;
}

/*.cm-hmd-list-indent .cm-tab::before { */
/*  left: 0; */
/*  top: -5px; */
/*  bottom: -4px; */
/*}*/

ul ul::before, ol ol::before { 
  left: -30px; 
  top: 0; 
  bottom: 0;
}



/*li::before{*/
/*    [>content: "*";<]*/
/*    [>[>font-weight: bold;<]<]*/
/*}*/

p {
    margin: 0.75rem 0;
    padding: 0;
    width: 100%;
    transition: 0.3s;
    letter-spacing: 0.03rem;
}

p:hover {
    /*background-color: white;*/
    padding-left: 3px;
    /*text-decoration: underline;*/

}

pre {
    margin: 1rem 0;
    max-width: var(--width-card-wide);
    padding: 1rem 0;

}

pre code.sourceCode,
pre samp {
    display: block;
    max-width: var(--width-card-wide);
    /*padding: 0.5rem 2rem;*/
    padding: 1rem;
    white-space: pre-wrap;
}

small {
    color: var(--color-text-secondary);
}

sup {
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    color: var(--color-bg);
    font-size: xx-small;
    font-weight: bold;
    margin: 0.2rem;
    padding: 0.2rem 0.3rem;
    position: relative;
    top: -2px;
}

/* Links */
a {
    color: var(--color-link);
    display: inline-block;
    font-weight: bold;
    text-decoration: none;
}

a:active {
    filter: brightness(var(--active-brightness));
    text-decoration: underline;
}

a:hover {
    filter: brightness(var(--hover-brightness));
    text-decoration: underline;
}

a b,
a em,
a i,
a strong,
button {
    border-radius: var(--border-radius);
    display: inline-block;
    font-size: medium;
    font-weight: bold;
    line-height: var(--line-height);
    margin: 0.5rem 0;
    padding: 1rem 2rem;
}

button {
    font-family: var(--font-family);
}

button:active {
    filter: brightness(var(--active-brightness));
}

button:hover {
    cursor: pointer;
    filter: brightness(var(--hover-brightness));
}

a b,
a strong,
button {
    background-color: var(--color-link);
    border: 2px solid var(--color-link);
    color: var(--color-bg);
}

a em,
a i {
    border: 2px solid var(--color-link);
    border-radius: var(--border-radius);
    color: var(--color-link);
    display: inline-block;
    padding: 1rem 2rem;
}

article aside a {
    color: var(--color-secondary);
}

/* Images */
figure {
    margin: 0;
    padding: 0;
}

figure img {
    max-width: 100%;
}

figure figcaption {
    color: var(--color-text-secondary);
}

/* Forms */

button:disabled,
input:disabled {
    background: var(--color-bg-secondary);
    border-color: var(--color-bg-secondary);
    color: var(--color-text-secondary);
    cursor: not-allowed;
}

button[disabled]:hover {
    filter: none;
}

form {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow) var(--color-shadow);
    display: block;
    max-width: var(--width-card-wide);
    min-width: var(--width-card);
    padding: 1.5rem;
    text-align: var(--justify-normal);
}

form header {
    margin: 1.5rem 0;
    padding: 1.5rem 0;
}


input,
label,
select,
textarea {
    display: block;
    font-size: inherit;
    max-width: var(--width-card-wide);
}

input[type="checkbox"],
input[type="radio"] {
    display: inline-block;
}

input[type="checkbox"]+label,
input[type="radio"]+label {
    display: inline-block;
    font-weight: normal;
    position: relative;
    top: 1px;
}

input,
select,
textarea {
    border: 1px solid var(--color-bg-secondary);
    border-radius: var(--border-radius);
    margin-bottom: 1rem;
    padding: 0.4rem 0.8rem;
}

input[readonly],
textarea[readonly] {
    background-color: var(--color-bg-secondary);
}

label {
    font-weight: bold;
    margin-bottom: 0.2rem;
}

/* Tables */
table {
    /*border: 1px solid var(--color-bg-secondary);*/
    /*border-radius: var(--border-radius);*/
    /*border-spacing: 0;*/
/*    display: inline-block;*/
/*    max-width: 100%;*/
/*    overflow-x: auto;*/
/*    padding: 0;*/
/*    white-space: nowrap;*/
    margin: auto;
}

table td,
table th,
table tr {
    padding: 0.4rem 0.8rem;
    text-align: var(--justify-important);
}

/*table thead {*/
/*    background-color: var(--color-table);*/
/*    border-collapse: collapse;*/
/*    border-radius: var(--border-radius);*/
/*    color: var(--color-bg);*/
/*    margin: 0;*/
/*    padding: 0;*/
/*}*/

table thead th:first-child {
    border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
    border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
    text-align: var(--justify-normal);
}

table tr:nth-child(even) {
    background-color: var(--color-accent);
    border: 10px solid black;
}

/* Quotes */
blockquote {
    display: flex;
    font-size: x-large;
    line-height: var(--line-height);
    margin: 1rem auto;
    max-width: var(--width-card-medium);
    padding: 1.5rem 1rem;
    text-align: var(--justify-important);

}



blockquote::before, blockquote::after {
    content: 'â€';
    font-size: 45px;
    color: var(--lighter-text);
}

blockquote footer {
    color: var(--color-text-secondary);
    display: block;
    font-size: small;
    line-height: var(--line-height);
    padding: 1.5rem 0;
    /*border: 1px solid red;*/
}





















/*$red: #F37272;*/
/*$brown: #584E4A;*/
/*$whitey: #f0f0f0;*/

/*$duration: .2s;*/
/*$distance: 8px;*/
/*$easeOutBack: cubic-bezier(0.175, 0.885, 0.320, 1.275);*/



