@page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body {
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    margin:0;
    height: 100vh;
}

.validation {
    display: none;
}

#preamble {
    display: block;
}

.title {
    text-align: left;
}

.titlepre {
    margin: 0 auto;
    padding-bottom: 15px;
}

.date {
    font-weight: 400;
}

.author {
    padding-right: 7px;
    font-weight: 500;
}

#postamble {
    text-align: left;
}

.subtitle {
    text-align: left;
    transform: translateX(-3px);
}

.taprootcopyright {
    font-size: 10px;
}

h2>span {
    padding-right: 13px;
}

h3>span {
    padding-right: 10px;
}

h4>span {
    padding-right: 7px;
}

h5>span {
    padding-right: 5px;
}

img {
    max-width: 80vw;
}

.navrow {
    display: flex;
    flex-wrap: wrap;
}

#content {
    margin: 30px;
}

.datarow {
    margin: 0 30px;
    padding-top: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.section-number-1 {
    display: none;
}

.section-number-2 {
    display: none;
}

.section-number-3 {
    display: none;
}

.section-number-4 {
    display: none;
}

.section-number-5 {
    display: none;
}

.site {
    font-weight: 700;
    color: #474747;
}


.org-keyword {
    color: #162691;
}

.org-string {
    color: #126930;
}

.src {
    background-color: #fafafa;
}

.header {
    background-color: #f2f2f2;
}

#table-of-backlinks {
    position: absolute;
    right: 0;
}

#table-of-contents {
    position: absolute;
    right: 0;
}

