@page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body {
    margin: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.validation {
    display: none;
}

#preamble {
    padding-bottom: 15px;
}

.date {
    font-weight: 400;
}

.author {
    padding-right: 7px;
    font-weight: 500;
}

h2>span {
    padding-right: 13px;
}

h3>span {
    padding-right: 10px;
}

h4>span {
    padding-right: 7px;
}

h5>span {
    padding-right: 5px;
}


