@page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body {
    font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    margin:0;
    max-height: 100vh;
    overflow-y: scroll;
}

.validation {
    display: none;
}

#preamble {
    display: block;
}

.title {
    text-align: left;
}

.titlepre {
    margin: 0 auto;
    padding-bottom: 15px;
}

.date {
    font-weight: 400;
}

.author {
    padding-right: 7px;
    font-weight: 500;
}

#postamble {
    text-align: left;
}

.subtitle {
    text-align: left;
    transform: translateX(-3px);
}

.taprootcopyright {
    font-size: 10px;
}

h2>span {
    padding-right: 13px;
}

h3>span {
    padding-right: 10px;
}

h4>span {
    padding-right: 7px;
}

h5>span {
    padding-right: 5px;
}

img {
    max-width: 80vw;
}

.navrow {
    display: flex;
    flex-wrap: wrap;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 15px;
    padding: 10px;
    position: fixed;
    width: 100%;
    z-index: 10000;
}

.section-number-1 {
    display: none;
}

.section-number-2 {
    display: none;
}

.section-number-3 {
    display: none;
}

.section-number-4 {
    display: none;
}

.section-number-5 {
    display: none;
}

@media only screen and (max-width: 850px) {
    #content {
	padding: 35px 50px;
	padding-top: 5px;
    }

    #linktables {
	position: relative;
    }

    #table-of-backlinks > h2, #table-of-contents > h2 {
	font-size: 17px;
    }

    #table-of-backlinks > ul, #text-table-of-contents > ul {
	font-size: 15px;
    }
}

@media only screen and (min-width: 850px) {
    #content {
	padding: 35px 50px;
	padding-top: 5px;
	margin-right: 330px;
    }

    #linktables {
	position: fixed;
	right: 0;
	width: 300px;
	margin-right: 30px;
    }

    #table-of-backlinks > h2, #table-of-contents > h2 {
	font-size: 13px;
    }

    #table-of-backlinks > ul, #text-table-of-contents > ul {
	font-size: 14px;
    }
}

.datarow {
    margin: 0 50px;
    padding-top: 30px;
}

#table-of-backlinks > h2, #table-of-contents > h2 {
    font-weight: 600;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 3px;
}


#table-of-backlinks > ul, #text-table-of-contents > ul {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
    transition: 0.5s ease border;
}

.site > a {
    border: 0;
}

.site > a:hover {
    border: 0;
}

li {
    padding: 5px 0;
}

pre.src:hover::before {
    display: none;
}

@media (prefers-color-scheme: light) {
    body {
	background: #fcfcfc;
	color: #212121;
    }

    a {
	border-bottom: solid 1px #ededed;
    }

    a:hover {
	border-bottom: solid 1px #b8b8b8;
    }

    .site {
	font-weight: 700;
	color: #474747;
	padding-left: 5px;
    }


    .org-keyword {
	color: #162691;
    }

    .org-string {
	color: #126930;
    }

    .src {
	background-color: #f7f7f7;
	border: 1px solid #ccc;
    }

    .header {
	background-color: #f2f2f2;
    }

    pre {
        box-shadow: 3px 3px 3px #eee;
    }
}

@media (prefers-color-scheme: dark) {
    body {
	background: #212121;
	color: #e8e8e8;
    }

    a {
	border-bottom: solid 1px #454545;
    }

    a:hover {
	border-bottom: solid 1px #6e6e6e;
    }

    .header {
	background-color: #262626;
    }

    .site {
	font-weight: 700;
	color: #dedede;
	padding-left: 5px;
    }


    .org-keyword {
	color: #9aa4e6;
    }

    .org-string {
	color: #75bf8e;
    }

    .src {
	background-color: #292929;
	border: 1px solid #363636;
    }

    pre {
        box-shadow: 3px 3px 3px #303030;
    }

    code {
	background-color: #4f4f4f;
	padding: 2px;
	margin: 2px;
	display: inline-block;
	border-radius: 3px;
    }

}

