@page {
    size: auto;   /* auto is the initial value */
    margin: 0mm;  /* this affects the margin in the printer settings */
}

body {
    margin: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

.validation {
    display: none;
}

#preamble {
    display: none;
}

.title {
    text-align: left;
}

.titlepre {
    margin: 0 auto;
    padding-bottom: 15px;
}

.date {
    font-weight: 400;
}

.author {
    padding-right: 7px;
    font-weight: 500;
}

#postamble {
    text-align: left;
}

.subtitle {
    text-align: left;
    transform: translateX(-3px);
}

.taprootcopyright {
    font-size: 10px;
}

h2>span {
    padding-right: 13px;
}

h3>span {
    padding-right: 10px;
}

h4>span {
    padding-right: 7px;
}

h5>span {
    padding-right: 5px;
}

img {
    max-width: 80vw;
}

.link-index {
    text-decoration: none;
    color: black;
    display: inline-block;
    max-width: max(500px, 50vw);
    margin-right: 15px;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px;
    margin-top: 5px;
    transform: translateY(-5px);
    background: #eaf3fc;
    transition: background-color 0.5s ease;
}

.link-index:hover {
    background: #c9e3ff;
}

.link-nav {
    margin-top: 5px;
    text-decoration: none;
    color: black;
    display: inline-block;
    max-width: max(500px, 50vw);
    border: 1px solid grey;
    border-radius: 5px;
    padding: 7px;
    background: #fff0ed;
    transform: translateY(-5px);
    transition: background-color 0.5s ease;
}

.link-nav:hover {
    background: #ffd9bd;
}

.link-callout {
    display: block;
    font-weight: 600;
}

.link-desc {
    font-size: 13px;
    font-weight: 400;
}

.navrow {
    display: flex;
    flex-wrap: wrap;
}

.org-keyword {
    color: #162691;
}

.org-string {
    color: #126930;
}

.src {
    background-color: #fafafa;
}
